body{
	background-color:DarkSeaGreen;
	font-family:Futura-Book;
}
nav a {
	
	display:inline-block;
	width:200px;
	margin:10px;
	padding:10px;
	background-color:LightSeaGreen;
	font-family:Futura-Book;
	border-radius:12px
	
}
nav a:hover{
	background-color:teal;
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	